<!DOCTYPE html>
<html lang="fr">

	<? include('blocks/head.html'); ?>
	
	<body>
		<div id="container">

			<? include('blocks/header.html'); ?>

			<section>
				<h1>Gestion des M.Météos.</h1>
				<p>Bienvenue sur l'interface de gestion de vos M.Météo. Vous pouvez ici modifier votre compte, configurer votre M.Météo et ses alertes, et accéder aux dernières courbes de valeurs. Vous devez être en possession d'un M.Météo pour pouvoir utiliser cette interface.</p>
			</section>

			<? include('blocks/footer.html'); ?>

		</div>
	</body>
</html>