<!DOCTYPE html>
<html lang="fr">

	<? include('blocks/head.html'); ?>
	
	<body>
		<div id="container">

			<? include('blocks/header.html'); ?>

			<section>
				<h1>Envoi d'un nouveau mot de passe.</h1>
				<form class="user" action="<?=$config['rel_root_folder']?>user/password_lost" method="post" id="password_lodt">
					<? if(isset($_GET['error']) AND $_GET['error']==1) { ?>
						<p style="color: red;">Cette adresse mail n'existe pas.</p>
					<? } ?>
					<input type="text" name="mail" id="mail" placeholder="Adresse mail">
					<input type="submit" name="submit" value="Envoyer un nouveau mot de passe">
				</form>
			</section>

			<? include('blocks/footer.html'); ?>

		</div>
	</body>
</html>